<h1>Posts</h1>
<%if user_signed_in?%>
<ul>
  <% @posts.each do |post| %>
    <li>
      <p><%=link_to post.body, post%><p>
      <p>by<p>
      <p><%=post.user.name%><p>
    </li>
  <% end %>
</ul>
<%= link_to "New Post", new_post_path %>
<%end%>